{
  "ecmaFeatures": {
    "jsx": true,
    "destructuring": true,
    "classes": true,
    "objectLiteralShorthandMethods": true,
    "arrowFunctions": true,
    "blockBindings": true,
    "modules": true,
    "generators": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "strict": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "react/prop-types": [2],
    "react/react-in-jsx-scope": [2],
    "react/jsx-no-undef": [2],
    "react/no-unknown-property": [2],
    "react/jsx-quotes": [1, "double", "avoid-escape"],
    "no-loop-func": [0],
    "quotes": [0],
    "curly": [2, "multi-line"],
    "consistent-return": [0],
    "new-cap": [0],
    "no-use-before-define": [0],
    "no-redeclare": [2],
    "no-comma-dangle": [0],
    "no-process-exit": [0],
    "no-shadow": [0],
    "no-path-concat": [0],
    "no-unused-vars": [2, {"vars": "all", "args": "none"}],
    "eol-last": [0],
    "no-mixed-requires": [1],
    "no-underscore-dangle": [0]
  }
}
